@import 'bootstrap-sprockets';
@import 'bootstrap';


.task {
  width: 100%;
  border-radius: 4px;
  background: #eee;
  font-size: 20px;
  margin-bottom: 25px;

  .priority{
    float: right;
  }

  .description, .due-date, .priority {
    margin: 20px;
    display: inline-block;
  }
  .completed {

    &, a, .description, .due-date, .priority {
      color: #3c763d;
      text-decoration: line-through;
    }

  }
  .links{
    font-size: 12px;
    width: 100%;
    padding: 10px 36px;
    background: #ddd;
    color: #333;
    .link {
      margin-right: 12px;
    }
  }
}

.sticky {
  display: inline-block;
  margin: 25px 0 0 4px;
  font-size: 20px;
}

.field_with_errors {
  color: #a94442;
  input {
    border-color: #a94442;
  }
}

.sorting {
  margin-bottom: 25px;
  float: right;
  span{
    margin-right: 20px;
  }
}
